#text_explorer {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  transition: all 0.2s ease-in-out;
  font-family: ABCGrammercy, serif;
  font-variation-settings:
    'opsz' 56,
    'wght' 400;
  font-feature-settings:
    'calt' 1,
    'liga' 1,
    'rvrn' 1,
    'kern' 1,
    'rclt' 1,
    'rlig' 1,
    'dlig' 1,
    'ss06' 1; /* font-variant-ligatures:  */
}

.epoch-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

p {
  display: block;
  margin: auto 0.5rem;
  font-size: 1.2rem;
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
  transition: all 0.2s ease-in-out;
  cursor: crosshair;
  transition: all 0.2s ease-in-out;
  text-wrap: nowrap;
}

/* p:hover,
p:hover ~ p {
  font-variation-settings: "opsz" 32, "wght" 400;
  color: var(--black) !important;
} */

::selection {
  background-color: transparent;
}

.epoch-holder .text-a,
.epoch-holder .text-b {
  overflow: hidden;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }

  to {
    opacity: 1;
    height: 28px;
  }
}

.highlight-human,
.highlight-ai {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

/* .highlight-human:hover {
  cursor: cell;
  color: #020202;
} */

/* .highlight-ai:hover {
  font-variation-settings:
    'opsz' 90,
    'wght' 100;
} */
