.help-button {
    position: absolute;
    background: white;
    bottom: 0;
    right: 0;
    width: 64px;
    height: 64px;
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    font-size: 1.5rem;
    border-radius: 100%;
    border: solid 1px var(--black);
}

.help-button:active {
    cursor: pointer;
    background: var(--gray-300);
}

.help-button:hover {
    cursor: pointer;
    background: var(--gray-100);
}
