/* .text-thrower-article {
  width: 100%;
  height: 100%;
  padding: 1rem;
  line-height: 110%;
  font-family: ABCGrammercy;
  text-align: left;
  max-width: 30ch;
   transition: all 0.4s ease-in-out;
  font-family: ABCGrammercy, serif;
  font-size: 3rem;
  font-variation-settings:
    'opsz' 56,
    'wght' 400;
  font-feature-settings:
    'calt' 1,
    'liga' 1,
    'rvrn' 1,
    'kern' 1,
    'rclt' 1,
    'rlig' 1,
    'dlig' 1,
    'ss06' 1;
}

.text-thrower-headline {
  width: 100%;
  line-height: 120%;
  text-align: left;
  max-width: 50ch;
   transition: all 0.4s ease-in-out;
  font-family: ABCConnect Nail, monospace;
  margin-block-end: 0;
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.text-thrower-article span {
  transition: all 0.2s ease-in-out;
} */

main {
    padding: 1rem;
}

.hero-text {
    font-family: ABCGrammercy;
    font-size: 5rem;
    /* max-width: 10ch; */
    text-align: left;
    font-weight: 300;
    line-height: 90%;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--gray-500);
    transform: translateX(-5px);

    /* fadein on load  */
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.basic-text {
    font-family: ABCGrammercy;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: left;
    color: var(--gray-500);
}

.basic-text p {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: 46ch;
    line-height: 120%;
}

.inside-paragraph-container {
    margin-left: 20%;
}
p.inside-paragraph {
    color: black;
    max-width: 100%;
    font-size: 1.5rem;
    font-variation-settings:
        'opsz' 56,
        'wght' 400;
    font-feature-settings:
        'calt' 1,
        'liga' 1,
        'rvrn' 1,
        'kern' 1,
        'rclt' 1,
        'rlig' 1,
        'dlig' 1;
    /* 'ss06' 1; */
}
